.chatArea{
    h2{
        display: flex;
        align-items: center;
        width: 100%;
        background-color: white;
        box-shadow: 0 6px 8px rgb(25, 223, 223);
        padding: 1% 0;
        .avatar {
           margin: 0 1%;
        }
    }
    .messagesArea {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        height: 69%;
        justify-content: flex-end;
        margin: 0 2vw;
        .collocColor {
            background-color: #3714FA;
            color: white;
        }
        .myColor {
            background-color: rgb(22, 231, 22);
            color: white;
        }
        li {
            padding: 1.5%;
            border-radius: 28px;
        }
    }
    .inputArea{
        position: fixed;
        bottom: 4%;
        left: 43%;
        width: 37%;
        .sendMsgButton{
            background-color: blue;
            border: none;
            position: fixed;
            transform: rotate(-90deg);
            border-radius: 28px;
        }
        .msgInput {
            width: 100%;
        }
    }
}